#sidebar-component {
  position: fixed;
  top: 65px;
  left: 0;
  height: calc(100% - 65px);
  pointer-events: auto;
  display: none;
}

.site-sidebar {
  width: max-content;
  min-width: 150px;
  max-width: 200px;
  height: 100%;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #e8edf3;
  color: #1f2937;
  border-right: 1px solid #cbd5e1;
}
