#sidebar-context {
  position: fixed;
  top: var(--global-header-height);
  left: 0;
  z-index: 900;
  height: calc(100% - var(--global-header-height));
  pointer-events: none;
}

.site-sidebar {
  height: 100%;
  pointer-events: auto;
}
