body {
  margin: 0;
}

aside {
  position: fixed;
  left: 0;
  top: 0;
  width: 250px;
  height: 100vh;
  transform: translateX(-100%);
  transition: transform 0.2s ease;
}

aside.open {
  transform: translateX(0);
}
