<nav class="menu" data-menu aria-label="Menu">
    <button class="menu__toggle" type="button" aria-expanded="false" aria-controls="menu-list">Menu</button>
    <div class="menu__list" id="menu-list" hidden>
        <a href="#content/home.html" data-route="content/home.html">Home</a>
        <a href="#content/profile.html" data-route="content/profile.html">Profile</a>
        <a href="#content/login.html" data-route="content/login.html">Login</a>
        <a href="#content/create-account.html" data-route="content/create-account.html">Create account</a>
    </div>
</nav>